<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />

    <!-- Latest compiled and minified JavaScript -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'trips.css' %}" />
    <script>
        $(document).ready(function () {
          $("#date-picker").datepicker({
            format: "mm/dd/yyyy",
          });
        });
    </script>
    <title>View Trip</title>
  </head>
  <body>
    <header>
      <h1>Hello {{user.first_name}}! Read about this trip!</h1>
      <div class="header-right">
        <a class="btn" href="/dashboard">Dashboard</a>
        <a class="btn" href="/logout">Logout</a>
      </div>
    </header>
    <div class="container">
        <h2>{{trip.destination}}</h2>
        Start Date: {{trip.start_date}}<br />
        End Date: {{trip.end_date}}<br />
        Created On: {{trip.created_at}}<br />
        Last Updated: {{trip.updated_at}}<br />
        Plan: {{trip.plan}}<br />
        Created By: {{trip.created_by.first_name}}<br /><br />
        <h3>People who've joined the trip</h3>
        {%for attendee in trip.attendees.all%}
        {%if trip.created_by.id != attendee.id%}
        {%if user.id != attendee.id%}
        {{attendee.first_name}}<br />
        {%endif%}
        {%endif%}
        {%endfor%}
    </div>
  </body>
</html>
