* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.messages {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100px;
}

.error {
  color: red;
}

.success {
  color: green;
}

input {
  margin: 3px 0px;
  padding: 3px 5px;
}